*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header {
    background: rgb(15, 3, 83);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    color: white;
    margin-right: auto;
    margin-left: 10px;
}

nav ul {
    display: flex;
    padding: 15px;
}

li {
    list-style-type: none;
    padding: 10px;
}

.navbar {
    text-decoration: none;
    color: white;
    transition: .2s ease-in-out;
}

.navbar:hover {
    color: red;
}

.btn {
    margin-right: 20px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 6px 12px;
    cursor: pointer;
    background: red;
    color: white;
    box-shadow: 2px 2px 2px 2px;
}

.btn:hover {
    transform: scale(1.1);
    transition: .1s ease-in-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.Title {
    font-size: 25px;
    font-weight: bold;
}

.desc {
    font-size: 15px;
    font-weight: bolder;
}

.picture {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 10px;
}

.parallax {
    background-image: url('PAKET/paket-supreme.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px;
    height: 100vh;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(15, 3, 83);
    color: white;
    padding: 30px;
}

.btn-bot {
    margin-top: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


.card-item {
    text-align: center;
    width: 15%;
    background: rgb(15, 3, 83);
    color: white;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px black;
}

.end-img {
    width: 75px;
    height: 75px;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-desc {
    font-size: 10px;
    font-weight: bolder;
    margin-bottom: 15px;
}

footer {
    background: rgb(15, 3, 83);
    color: white;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 500px) {
    .card {
        padding-top: 4px;
        flex-direction: column;
    }

    .card-item {
        width: 100%;
    }

    .container {
        padding: 0;
    }

    .wrapper {
        margin-top: 20px;
    }

    .picture {
        padding: 0;
    }
}