*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Sixtyfour", sans-serif;
}

:root {
    --bg-color: aqua;
    --text-bg: green;
    --text-color: white;
    --second: black;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.isi {
    text-align: center;
    color: var(--text-color);
    background-color: var(--text-bg);
    box-shadow: 2px 2px 2px 2px var(--second);
    font-size: 10px;
    margin: 5px;
    padding: 20px;
}

.icons {
    padding-bottom: 10px;
    font-size: 25px;
}

.h2 {
    font-size: 10px;
    padding-bottom: 10px;
}

.h1 {
    font-size: 30px;
    padding-bottom: 10px;
}

.button {
    padding: 8px;
    border: none;
    cursor: pointer;
    width: 250px;
    box-shadow: 2px 2px 2px 2px var(--second);
}

.button:hover {
    background-color: var(--bg-color);
    color: var(--text-bg);
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.link {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 300px) {
    .isi {
        width: 90%;
    }
}