*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 800px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 325px;
}

#pertanyaan {
    font-size: 25px;
    font-weight: 600;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

input {
    border: none;
    background-color: gainsboro;
    color: black;
    padding: 16px;
    font-size: 24px;
    margin-top: 8px;
}

button {
    border: none;
    background-color: lightslategray;
    display: flex;
    margin-left: 16px;
    margin-top: 8px;
    padding: 16px;
    height: 65px;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

#loader {
    display: none;
    height: 85px;
    width: 85px;
    position: absolute;
    border-top: 15px solid lightslategray;
    border-radius: 50%;
    top: 50%;
    left: 45%;
    z-index: 1;
    animation: 2s spin infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(360deg);
    }
}